html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

.container {max-width: 1100px;width: auto;margin: 0 auto;padding: 0 20px;}
.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11{float:left;margin-right:3.2786885%;min-height:1px;position:relative}
.col1 {width:5.3278689%}
.col2 {width:13.9344262%}
.col3 {width:22.5409836%}
.col4 {width:31.140437167%}
.col5 {width:39.7540984%}
.col6 {width:48.3606557%}
.col7 {width:56.9672131%}
.col8 {width:64.480874333%}
.col9 {width:74.1803279%}
.col10{width:82.7868852%}
.col11{width:91.3934426%}
.col12{width:100%}

.mar1-left{margin-left:8.6065574%}
.mar2-left{margin-left:17.2131148%}
.mar3-left{margin-left:25.81967245%}
.mar4-left{margin-left:34.4191%}
.no-float {float: none;clear: both;}
.last{margin-right:0;padding-right:0}
.row {clear: both;}

@media only screen and ( max-width : 767px ){
	.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11 {width: 100%;display: block;clear: both;float: none;}
	.mar1-left, .mar2-left, .mar3-left, .mar4-left {margin-left: 0;}
}

body {font-family: 'helvetica-neue', helvetica, arial, sans-serif;font-weight: 400;}

.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

a {text-decoration: none;}

#header {
	position:relative;
	width:100%;
	font-weight: 200;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline:none;
	background-color:#FFF;
	-webkit-box-shadow:0 3px 4px #b9b9b9;
	-moz-box-shadow:0 3px 4px #b9b9b9;
	box-shadow:0 2px 5px rgba(0,0,0,0.15);
	background-color:#025b89;
	background-image: linear-gradient(bottom, #005179 0%, #026190 100%);
	background-image: -o-linear-gradient(bottom, #005179 0%, #026190 100%);
	background-image: -moz-linear-gradient(bottom, #005179 0%, #026190 100%);
	background-image: -webkit-linear-gradient(bottom, #005179 0%, #026190 100%);
	background-image: -ms-linear-gradient(bottom, #005179 0%, #026190 100%);
	z-index: 15;
}

#header .header-inner {max-width: 1100px;margin: 0 auto;padding: 0 15px;}
#width-tracker {position: absolute;right: 0;bottom: 0;font-weight: 700;padding:10px;transition-property: all;transition-duration: 100ms}
#width-tracker:hover {background: rgba(0,0,0,0.1);box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);}
#width-tracker span {font-size: 150%;}
#width-tracker div {font-size: 66%;font-weight: bold;}

#header .logo {background: url(../images/logo.png) no-repeat left top;width: 221px; height: 56px;float: left;margin-top: 9px;}

.navigation a {color: #fff;}
.navigation {float: right;}
.navigation .menu {display: block;position: relative;}
.navigation .menu li {position: relative;display: block;float: left;}
.navigation .menu li > .submenu {display: none;position: absolute;top: 100%;left: 0;background: #fff;box-shadow: 0 1px 5px 1px rgba(0,0,0,0.2);min-width: 100%;}
.navigation .menu li > .submenu li {float: none;clear: both;font-size: 75%;font-weight: bold;text-transform: uppercase;}
.navigation .menu li > .submenu li a {display: block;padding: 3px;}
.navigation .menu li > .submenu li:hover a {background: rgba(0,0,0,0.1);}
.navigation .menu li > .submenu a {display: block;position: relative;color: #333;}
.navigation .menu li > .submenu .submenu {display: none;}
.navigation .menu > li:hover > .submenu {display: block;}

.navigation .menu > li > a {display:block;padding: 27px;}
.navigation .menu > li:hover > a {background: rgba(255,255,255,0.1);}

a#nav-button {
	display: none;
	-moz-background-size:40px 30px;
	-moz-border-radius:3px;
	-moz-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
	-webkit-border-radius:3px;
	-webkit-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
	background-color:rgba(0,0,0,0.1);
	background-image:url(../images/menu-button.png);
	background-size:40px 30px;
	border-radius:3px;
	box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
	color:#FFF;
	cursor: pointer;
	cursor:hand;
	float:right;
	font-weight:700;
	height:30px;
	margin:20px 3% 20px 10px;
	text-shadow:none;
	width:40px;
}

@media only screen and (max-width: 790px){
	.navigation {display: none;}
	.navigation .menu {display: block;}
	.navigation, .logo, .navigation .menu li {float: none;position: static;}
	.navigation .menu li > a, .navigation .menu li > .submenu > li > a {display: block;padding: 10px}
	.navigation .menu li a, .navigation .menu li .submenu a {border-bottom:1px solid rgb(0, 71, 111);color: #fff}
	.navigation .menu li > .submenu {position: relative;left: auto;top: auto;bottom: auto;background: none;font-size: inherit;box-shadow: none;min-width: 0;position: absolute;width: 100%;top: 0}
	.navigation .menu li:hover > .submenu {display: none;}
	.navigation .menu li > .submenu li {float: none;clear: both;font-size: inherit;font-weight: 400;text-transform: none;}

	.navigation .menu li:last-child a {border-bottom: 0 none;}

	#header .logo {display: block;width:160px;background-position: center center;margin: 9px 0 0 3%;background-size: 100%;}
	.navigation {clear: both;}

	a#nav-button {display: block;}


	#header .header-inner {padding: 0;}

	.ap-ddmenu-header {display: block;position: relative;background: #333;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) inset;height: 35px}
	.ap-ddmenu-header .ap-ddmenu-current-text {text-align: center;color: #fff;font-weight: 400;padding:10px 0;}
	.ap-ddmenu-header .ap-ddmenu-back {position: absolute;left: 12px;top: 11px;font-size: 87.5%;font-weight: 700;}
}



.empty {}