html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

.container {max-width: 1100px;width: auto;margin: 0 auto;padding: 0 20px;}
/*.col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11{float:left;margin-right:3.2786885%;min-height:1px;position:relative}
.col1 {width:5.3278689%}
.col2 {width:13.9344262%}
.col3 {width:22.5409836%}
.col4 {width:31.140437167%}
.col5 {width:39.7540984%}
.col6 {width:48.3606557%}
.col7 {width:56.9672131%}
.col8 {width:64.480874333%}
.col9 {width:74.1803279%}
.col10{width:82.7868852%}
.col11{width:91.3934426%}
.col12{width:100%}

.mar1-left{margin-left:8.6065574%}
.mar2-left{margin-left:17.2131148%}
.mar3-left{margin-left:25.81967245%}
.mar4-left{margin-left:34.4191%}
.no-float {float: none;clear: both;}
.last{margin-right:0;padding-right:0}
.row {clear: both;}

@media only screen and ( max-width : 767px ){
    .col1,.col2,.col3,.col4,.col5,.col6,.col7,.col8,.col9,.col10,.col11 {width: 100%;display: block;clear: both;float: none;}
    .mar1-left, .mar2-left, .mar3-left, .mar4-left {margin-left: 0;}
}*/

body {font-family: 'helvetica-neue', helvetica, arial, sans-serif;font-weight: 400;}

.clearfix:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}
.clearfix{display:inline-block}
html[xmlns] .clearfix{display:block}
* html .clearfix{height:1%}

a {text-decoration: none;}

#width-tracker {position: absolute;right: 0;bottom: 0;font-weight: 700;padding:10px;transition-property: all;transition-duration: 100ms}
#width-tracker:hover {background: rgba(0,0,0,0.1);box-shadow: 0 0 10px 1px rgba(0,0,0,0.3);}
#width-tracker span {font-size: 150%;}
#width-tracker div {font-size: 66%;font-weight: bold;}

#header .logo {background: url(../images/logo.png) no-repeat left top;width: 221px; height: 56px;float: left;margin-top: 9px;}

#nav-button {
    display: none;
    -moz-background-size:40px 30px;
    -moz-border-radius:3px;
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    background-color:rgba(0,0,0,0.1);
    background-image:url(../images/menu-button.png);
    background-size:40px 30px;
    border-radius:3px;
    box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    color:#FFF;
    cursor: pointer;
    cursor:hand;
    float:right;
    font-weight:700;
    height:30px;
    margin:20px 3% 20px 10px;
    text-shadow:none;
    width:40px;
}

/* Navigation */

/* Show the navigation on load */
.navigation {display:block;position: relative;z-index: 10;width:100%;background:#fff;}
.navigation:after {clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}

/* Based, required styles */
.navigation ul {margin:0;padding:0;background:#fff;width:100%;position:relative;}
.navigation li {position:static;list-style: none;}
.navigation ul ul {display:none;position:absolute;top:0;}
.navigation li a {display:block;}

/* Extra styling for navigation */
.ap-ddmenu-link-icon {position: absolute;right:12px;}

/* Header styling */
.ap-ddmenu-header {display: block;position: relative;background: #333;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) inset;height: 35px}
.ap-ddmenu-header .ap-ddmenu-current-text {text-align: center;color: #fff;font-weight: 400;padding:10px 0;}
.ap-ddmenu-header .ap-ddmenu-back {position: absolute;left: 12px;top: 11px;font-size: 87.5%;font-weight: 700;color: #fff;}

.navigation .menu li.mobile-navitem-hide {display:none;}

.dd-mobile .navigation {clear:both;}
.dd-mobile .navigation .menu li:hover > .submenu {display: none;}
.dd-mobile .navigation {display: none;clear: both;}
.dd-mobile .navigation .menu, .dd-mobile #nav-button {display: block;background: #000;}
.dd-mobile .navigation, .dd-mobile .navigation .menu li {float: none;position: static;}
.dd-mobile .navigation .menu li > a, .dd-mobile .navigation .menu li > .submenu > li > a {display: block;padding: 10px}
.dd-mobile .navigation .menu li a, .dd-mobile .navigation .menu li .submenu a {border-bottom:1px solid rgb(0, 71, 111);}
.dd-mobile .navigation .menu li > .submenu {position: relative;left: auto;top: auto;bottom: auto;background: none;font-size: inherit;box-shadow: none;min-width: 0;position: absolute;width: 100%;top: 0}
.dd-mobile .navigation .menu li > .submenu li {float: none;clear: both;font-size: inherit;font-weight: 400;text-transform: none;}
.mobile .navigation .menu li:last-child a {border-bottom: 0 none;}
.mobile .ap-ddmenu-header {display: block;position: relative;background: #333;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) inset;height: 35px}
.mobile .ap-ddmenu-header .ap-ddmenu-current-text {text-align: center;color: #fff;font-weight: 400;padding:10px 0;}
.mobile .ap-ddmenu-header .ap-ddmenu-back {position: absolute;left: 12px;top: 11px;font-size: 87.5%;font-weight: 700;color: #fff;}