html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
table{border-collapse:collapse;border-spacing:0}

body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 400;}

a {text-decoration: none;}

#nav-button {
    display: none;
    -moz-background-size:40px 30px;
    -moz-border-radius:3px;
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    -webkit-border-radius:3px;
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    background-color:rgba(0,0,0,0.1);
    background-image:url(../images/menu-button.png);
    background-size:40px 30px;
    border-radius:3px;
    box-shadow:0 0 5px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.1);
    color:#FFF;
    cursor: pointer;
    cursor:hand;
    float:right;
    font-weight:700;
    height:30px;
    margin:20px 3% 20px 10px;
    text-shadow:none;
    width:40px;
}

/* Navigation */

/* Show the navigation on load */
.navigation {display:block;position: relative;z-index: 10;width:100%;background:#fff;}
.navigation:after {clear:both;content:".";display:block;height:0;line-height:0;visibility:hidden;}

/* Based, required styles */
.navigation ul {margin:0;padding:0;background:#fff;width:100%;position:relative;}
.navigation li {position:static;list-style: none;}
.navigation ul ul {display:none;position:absolute;top:0;}
.navigation li a {display:block;}

/* Extra styling for navigation */
.ap-ddmenu-link-icon {position: absolute;right:12px;}

/* Header styling */
.ap-ddmenu-header {display: block;position: relative;background: #333;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) inset;height: 35px}
.ap-ddmenu-header .ap-ddmenu-current-text {text-align: center;color: #fff;font-weight: 400;padding:10px 0;}
.ap-ddmenu-header .ap-ddmenu-back {position: absolute;left: 12px;top: 11px;font-size: 87.5%;font-weight: 700;color: #fff;}

.navigation .menu li.mobile-navitem-hide {display:none;}

.dd-mobile .navigation {clear:both;}
.dd-mobile .navigation .menu li:hover > .submenu {display: none;}
.dd-mobile .navigation {display: none;clear: both;}
.dd-mobile .navigation .menu, .dd-mobile #nav-button {display: block;background: #000;}
.dd-mobile .navigation, .dd-mobile .navigation .menu li {float: none;position: static;}
.dd-mobile .navigation .menu li > a, .dd-mobile .navigation .menu li > .submenu > li > a {display: block;padding: 10px}
.dd-mobile .navigation .menu li a, .dd-mobile .navigation .menu li .submenu a {border-bottom:1px solid rgb(0, 71, 111);}
.dd-mobile .navigation .menu li > .submenu {position: relative;left: auto;top: auto;bottom: auto;background: none;font-size: inherit;box-shadow: none;min-width: 0;position: absolute;width: 100%;top: 0}
.dd-mobile .navigation .menu li > .submenu li {float: none;clear: both;font-size: inherit;font-weight: 400;text-transform: none;}
.mobile .navigation .menu li:last-child a {border-bottom: 0 none;}
.mobile .ap-ddmenu-header {display: block;position: relative;background: #333;box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5) inset;height: 35px}
.mobile .ap-ddmenu-header .ap-ddmenu-current-text {text-align: center;color: #fff;font-weight: 400;padding:10px 0;}
.mobile .ap-ddmenu-header .ap-ddmenu-back {position: absolute;left: 12px;top: 11px;font-size: 87.5%;font-weight: 700;color: #fff;}